.DS_Store
Thumbs.db

venv/
env/
.venv/
.env

__pycache__/
*.pyc

TEMP/
TRASH/
content_created/
content_saved/
watchfolders/
external/
logs/
sharepoint/
config.json
_credentials.json
_token.json
lib/dataproc/myvideo/mega.json
planning.json

*.db
*.dump
*.yml
*.log
*.exe
*.crx
*.aep
